/* offset main content to right of sidenav */

header, main, footer {
    padding-left: 320px;
}

/* sidebar only show on large viewport */

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* side navigation */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.sidenav {
    background-color: #131110;
}

.sidenav li>a {
    color: #bcb4a4;
}

.sidenav li>a:hover,
.sidenav li>a:active,
.sidenav li>a:target,
.sidenav li>a:focus
 {
    background-color: transparent;
    color: #646059;
    border-bottom: 1px orange solid;
}

/* main */

body {
    background: black;
    color: #f0ead4;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

body::after {
    content: "";
    background-image: url(/assets/images/plant1.jpg);
    /* background-attachment: fixed; */
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#about {
    width: 90%;
}

#intro {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#about-text {
    font-size: 16pt;
    font-weight: 100;
}

#avatar {
    filter: brightness(90%);
    width: 100%;
}

#avatar-col {
    text-align: center;
}

#about-cards {
    /* margin-top: 0px; */
    width: 80%;
}

#work {}

/* div.projects {
    margin-bottom: 20%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

div.projectrow {
    justify-content: center;
    width: 100%;
} */

#card-image {
    height: 100%;
}