#avatar {
    filter: brightness(90%);
    width: 75%;
}

/* offset main content to right of sidenav */

header, main, footer {
    padding-left: 320px;
}

/* sidebar only show on large viewport */

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* side navigation */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #080807;
    height: 100vh;
    /* padding-top: 20vh; */
}


.sidenav li>a, .nav-wrapper a {
    color: #e0d8c5;
    font-family: 'Open Sans', sans-serif;
}

.sidenav li>a:hover, .sidenav li>a.active {
    background-color: transparent;
    color: #a59e92;
    border-bottom: 1px #91734b solid;
}

#small-nav { 
    transition: top 0.3s;
    top: -65px;
    display: block;
    position: fixed;
}


.nav-wrapper {
    color: #e0d8c5;
    background:#080807;
    font-family: 'Crimson Text', serif;
}

a.brand-logo {
    font-family: 'Crimson Text', serif;
    /* font-weight: 550; */
    /* font-size: 10pt;
    text-align: right; */
}


#logo {
    text-align: center;
}

#logo img {
    width: 80%;
}

/* main */

body {
    background: black;
    color: #f0ead4;
    font-family: 'Crimson Text', serif;
    background: url(../../assets/images/plant2.jpg) repeat fixed;
}




#center {
    background: transparent;
    /* background: rgba(240, 240, 240, .7); */
    width: 90%;
    padding: 1em;
    margin: 1em auto;
}

#about, #resume, #work {
    font-size: 14pt;
    font-weight: 100;
    margin-bottom: 50vh;
    line-height: 1.6em;
    letter-spacing: .05em;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    text-shadow: 1px 1px 0 #272727, 3px 5px 4px #000000;
}

#intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 #000000, 3px 10px 5px #000000;
}

#avatar-col {
    text-align: center;
    font-size: 12px;
    line-height: 1.3em;
    letter-spacing: .02em;
    text-shadow: none;
}

.skills {
    width: 70%;
}

h2 {
    text-align: center;
    font-family: 'Crimson Text', serif;
    text-shadow: 2px 2px 0 #000000, 3px 10px 5px #000000;
}

div.card-content {
    font-family: 'Open Sans', sans-serif;
    color: #080807;
    text-shadow: none;
    font-weight: 400;
    letter-spacing: 0em;
    font-size: .9em;
    line-height: 1.3em;
    text-align: left;
}

#work div {
    color:#e0d8c5;
    text-shadow: none;
    text-shadow: 1px 1px 0 #272727, 3px 5px 4px #000000;
}

#work a {
    font-family: 'Open Sans', sans-serif;
    color: #d6970e;
    text-shadow: none;
    font-weight: 400;
    text-shadow: none;
    letter-spacing: 0em;
    margin: 0px;
}

.card.medium {
    border: 1px #22221d solid;
    padding: 10px;
 height: 500px;
 background: rgba(54, 54, 52, 0.5);
 box-shadow: none;

}

.card.medium .card-image {
    max-height: 50%;
}

#work a:hover {
color: #83672a;
}

.projectlinks {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.projectlinks a {
    color: #c5b185;
}

.projectlinks a:hover {
    color: #ecd9a0;
    border-bottom: 1px solid #91734b;
}

.projectImage {
    width: 250px;
}

i.fab, i.far, i.fas {
    font-size: 50pt;
}

#contact p {
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    text-align: center;    
    text-shadow: 1px 1px 0 #272727, 3px 5px 4px #000000;
}

.contactlinks {
    display: flex;
    justify-content: center;
    margin-bottom: 30vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    text-shadow: 1px 1px 0 #272727, 3px 5px 4px #000000;
}

.contactlinks div {
    text-align: center;
    margin: 20px;
}

.contactlinks a {
    color: #f0ead4;
}

.contactlinks a:hover {
    color: #ecd9a0;
}