#avatar {
    filter: brightness(90%);
    width: 75%;
}

/* offset main content to right of sidenav */

header, main, footer {
    padding-left: 320px;
}

/* sidebar only show on large viewport */

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* side navigation */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav {
    background-color: #080807;
}

.sidenav li>a {
    color: #bcb4a4;
    font-family: 'Open Sans', sans-serif;
}

.sidenav li>a:hover, .sidenav li>a.active {
    background-color: transparent;
    color: #646059;
    border-bottom: 1px #91734b solid;
}

#logo {
    text-align: center;
}

#logo img {
    width: 80%;
}

/* main */

body {
    background: black;
    color: #f0ead4;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'Crimson Text', serif;
}

body::after {
    content: "";
    background-image: url(/assets/images/plant1.jpg);
    /* background-attachment: fixed; */
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#about {
    /* width: 70%; */
    font-size: 16pt;
    font-weight: 100;
    margin-bottom: 50vh;
    line-height: 1.4em;
}

#intro {
    /* width: 90%; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
}

#avatar-col {
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3em;
}

#resume {
    /* width: 80%; */
    margin-bottom: 50vh;
}

#resume h2 {
    text-align: center;
}

#work {
    width: 75%;
    margin-bottom: 50vh;
}

.projectlinks {
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.projectlinks a {
    color: #c5b185;
}

.projectlinks a:hover {
    color: #948464;
    border-bottom: 1px solid #91734b;
}

.projectImage {
    width: 250px;
}

i.fab, i.far {
    font-size: 50pt;
}

#contact p {
    
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

.contactlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30vh;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.contactlinks div {
    text-align: center;
}

.contactlinks a {
    color: #f0ead4;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}