#avatar {
    filter: brightness(90%);
    width: 75%;
}

/* offset main content to right of sidenav */

header, main, footer {
    padding-left: 320px;
}

/* sidebar only show on large viewport */

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* side navigation */

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidenav {
    background-color: #131110;
}

.sidenav li>a {
    color: #bcb4a4;
    font-family: 'Open Sans', sans-serif;
}

.sidenav li>a:hover, .sidenav li>a:active, .sidenav li>a:target, .sidenav li>a:focus {
    background-color: transparent;
    color: #646059;
    border-bottom: 1px orange solid;
}

/* main */

body {
    background: black;
    color: #f0ead4;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    font-family: 'Crimson Text', serif;
}

body::after {
    content: "";
    background-image: url(/assets/images/plant1.jpg);
    /* background-attachment: fixed; */
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#about {
    width: 70%;
    font-size: 16pt;
    font-weight: 100;
    display: flex;
    /* height: 100%; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 50vh;
}

#intro {
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 2px;
}


#avatar-col {
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#resume {
    width: 80%;
    margin-bottom: 50vh;
}

#resume h2 {
    text-align: center;
}

#work {
    width: 90%;
}

.projects {
display: flex;
flex-flow: row wrap;
justify-content: center;
margin-bottom: 50vh;
}



.projectLink {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: white;
    width: 250px;
    height: 170px;
    margin: 20px 40px 20px 0px;
    float: left;
}

.projectImage {
    width: 100%;