body {
    background-color: #242424;
    color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30pt;
    text-align: center;
}

p {
    font-size: 10pt;
}